@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	transition: all 0.3s;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	background: #F2F4F5;
}

::-webkit-scrollbar {
	width: 1rem;
	border: 3px solid #303030;
}

::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 25px;
}

header {
	width: 100%;
	height: 100vh;
}

header nav {
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	position: fixed;
	z-index: 1111111;
	align-items: center;
	justify-content: center;
	background: transparent;
}

header nav.scrolled {
	background: #303030;
}

header nav * {
	display: inline-block;
}

header nav img {
	width: 25px;
	height: 25px;
}

header nav .navbar-brand {
	left: 20px;
	color: #fff;
	font-size: 30px;
	margin-left: 3px;
	position: absolute;
	font-family: 'Oleo Script', cursive;
}

header nav .navbar-menu {
	position: relative;
}

header nav .navbar-menu .navbar-item {
	margin: 0;
	width: auto;
	height: 100%;
	padding: 16px 18px;
}

header nav .navbar-menu .navbar-item .navbar-link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

header nav .navbar-menu .navbar-item .navbar-link:hover {
	color: #ffc;
}

header nav .navbar-menu .navbar-bottom-bar {
	left: 0;
	bottom: 5px;
	width: 462px;
	height: 5px;
	z-index: -11;
	border-radius: 10px;
	background: #fff;
	position: absolute;
}

header nav .navbar-menu .navbar-item:hover ~ .navbar-bottom-bar {
	background: #ffc;
}

header nav .navbar-end {
	right: 30px;
	position: absolute;
}

header nav .navbar-end .visible-mobile {
	display: none;
}

header nav .navbar-burger {
	top: 0;
	right: 0;
	display: none;
	z-index: 1111;
	cursor: pointer;
	position: absolute;
	border-style: solid;
    border-width: 30px 70px 30px 0;
    border-color: transparent #fff transparent transparent;
}

header nav .navbar-burger span:nth-child(1) {
	top: -8px;
	right: -60px;
	width: 30px;
	height: 4px;
	position: absolute;
	background: #303030;
}

header nav .navbar-burger span:nth-child(2) {
	top: 3px;
	right: -60px;
	width: 30px;
	height: 4px;
	position: absolute;
	background: #303030;
}

header nav .navbar-burger.active span {
	top: -2px
}

header .header-content {
	width: 100%;
	height: 100vh;
	color: #fff;
	padding: 70px 20px;
	background: #855FA8;
}

header .header-content .swiper {
  width: 100%;
  height: 85vh;
}

header .header-content .swiper .swiper-wrapper .swiper-slide {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

header .header-content .swiper .swiper-pagination {
	right: 15px;
}

header .header-content .swiper .swiper-wrapper .swiper-slide div {
	width: 45%;
}

header .header-content .swiper .swiper-wrapper .swiper-slide .col-first h1 {
	font-size: 50px;
}

header .header-content .swiper .swiper-wrapper .swiper-slide .col-second img {
	width: 75%;
}

.text-light {
	color: #fff;
}

.text-dark {
	color: #000;
}

.d-inline-block {
	display: inline-block;
}

.mg-5 {
	margin: 50px 0;
}
.mg-3 {
	margin: 30px 0;
}

button {
	color: #fff;
	margin: 20px 0;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
	padding: 12px 60px;
	border: 1px solid #fff;
	background: transparent;
}

button:hover {
	color: #000;
	background: #fff;
}

header .header-content .swiper .swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
	padding: 16px;
	color: #fff;
	display: flex;
	margin: 20px 0;
	font-size: 18px;
	align-items: center;
	border-style: solid;
	justify-content: center;
	border-width: 0 5px 5px 0;
	background: transparent;
}

header .header-content .swiper .swiper-pagination .swiper-pagination-bullet-active {
	color: #303030;
}


.services-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-block .service-card {
	width: calc(100% / 4);
	display: flex;
	gap: 10px;
	margin: 10px 0;
}

.additionalText {
	position: relative;
}

.additionalText:after {
	content: "";
	top: 40%;
	right: 100%;
	height: 5px;
	width: 100px;
	position: absolute;
	background: #FF6A00;
}

.product-wrapper {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.product-wrapper .product {
	width: calc(100% / 4 - 20px);
	border: 1px solid #C4C4C4;
	box-shadow: 0px 15px 15px -20px rgba(0,0,0,0.1)
}

.product-wrapper .product:hover {
	box-shadow: 5px 15px 15px -15px rgba(0,0,0,0.6)
}

.product-wrapper .product .stretched-img {
	width: 100%;
	height: auto;
	padding: 15px;
	display: flex;
	cursor: pointer;
	position: relative;
	align-items: center;
	background: #f7f7f7;
	justify-content: center;
}

.product-wrapper .product .stretched-img .discount-percent::before {
	top: 0;
	left: 0;
	content: "";
	color: #fff;
	position: absolute;
	border-style: solid;
	border-width: 55px 70px 0 0;
	border-color: #FF6A00 transparent transparent transparent;
}

.product-wrapper .product .stretched-img .discount-percent:after {
	top: 5px;
	left: 5px;
	color: #fff;
	position: absolute;
	content: attr(data-percent);
}

.product-wrapper .product .stretched-img img {
	width: 90%;
	max-height: 200px;
	min-height: 200px;
	object-fit: contain;
}

.product-wrapper .product .stretched-img:hover img {
	transform: scale(1.10);
}

.product-wrapper .product .product-body {
	padding: 15px 10px;
}

.product-wrapper .product .product-body a {
	color: #303030;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

.product-wrapper .product .product-body a:hover {
	color: blue;
}

.product-wrapper .product .product-body .prices {
	margin: 12px 0 0 0;
	color: #FF6A00;
}

.product-wrapper .product .product-body .prices .price-dash {
	float: right;
	color: #303030;
	text-decoration: line-through;
	text-decoration-color: #FF6A00;
}

.contact-wrapper {
	gap: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contact-wrapper div {
	width: calc(100% / 2 - 50px);
}

.contact-form form input {
	width: 100%;
	height: 40px;
	outline: none;
	margin: 12px 0;
	display: block;
	text-indent: 12px;
	background: #F5F5F5;
	border: 1px solid #C4C4C4;
}

.contact-form form textarea {
	width: 100%;
	outline: none;
	max-width: 100%;
	max-height: 300px;
	padding-top: 10px;
	text-indent: 12px;
	background: #F5F5F5;
	border: 1px solid #C4C4C4;	
}

.contact-form form .inlined-input {
	width: 100%;
	gap: 15px;
	display: flex;
	flex-wrap: wrap;
}

.contact-form form .inlined-input input {
	margin: 0;
	width: calc(100% / 2 - 8px);
}

.submit-btn {
	color: #fff;
	border-radius: 0;
	padding: 10px 50px;
	background: #FF6A00;
}

.border-bottom {
	padding: 6px 0;
	border-bottom: 1px solid #000;
}

.submit-btn:hover {
	color: #FF6A00;
	background: transparent;
	border: 1px solid #FF6A00;
}

.social-sites {
	margin: 12px 0;
}

.social-sites a:first-child {
	margin-left: 0;
}

.social-sites a {
	margin: 12px;
}

.social-sites a img {
	width: 20px;
	height: 20px;
}

/* footer */
footer {
	width: 100%;
	height: auto;
	display: flex;
	padding: 20px;
	color: #fff;
	margin: 0 !important;
	flex-wrap: wrap;
	background: #303030;
	align-items: flex-start;
	justify-content: space-around;
}

footer div:nth-child(1) {
	width: 250px;
}

footer .footer-brand {
	color: #fff;
	font-size: 30px;
	font-family: 'Oleo Script', cursive;
}

footer .footer-title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

footer .footer-link {
	opacity: 0.7;
	margin: 15px 0;
	display: block;
	color: #fff;
	position: relative;
}

footer p {
	margin: 10px 0;
	font-size: 20px;
}

footer .footer-link:hover {
	opacity: 1;
}

footer .footer-link::before {
	top: -3px;
	opacity: 0;
	left: -35px;
	content: "⚪️";
	position: absolute;
	transition: all 0.4s;
}

footer .footer-link:hover::before {
	opacity: 1;
	left: -25px;
}

footer svg {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

@media screen and (max-width: 1125px) {
	.services-block .service-card {
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 768px) {
	header nav {
		background: #303030;
	}
	header nav .navbar-menu {
		top: 60px;
		left: 0;
		width: 100%;
		height: 0;
		transition: all 0.8s;
		overflow: hidden;
		position: absolute;
		background: #404040;
	}
	header nav .navbar-menu.active {
		height: calc(100vh - 60px);
	}
	header nav .navbar-menu .navbar-item {
		padding: 0;
		height: auto;
		display: block;
		margin: 0 !important;
	}
	header nav .navbar-menu .navbar-item .navbar-link {
		height: auto;
		display: block;
		margin: 0 !important;
		padding: 20px 20px;
		box-shadow: -1px 5px 11px -2px rgba(0,0,0,0.6);
	}
	header nav .navbar-menu .navbar-item .navbar-link:hover {
		text-indent: 15px;
	}
	header nav .navbar-burger {
		display: block;
	}
	header nav .navbar-end {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		display: flex;
		position: fixed;
		align-items: center;
		background: #303030;
		justify-content: space-around;
	}
	header nav .navbar-end .visible-mobile {
		display: inline-block;
	}
	header nav .navbar-end img {
		margin: 0 15px;
	}
	header .header-content .swiper .swiper-wrapper .swiper-slide {
		text-align: center;
	}
	header .header-content .swiper .swiper-wrapper .swiper-slide div {
		width: 100%;
	}
	header nav .navbar-menu .navbar-bottom-bar {
		display: none;
	}
	.services-block .service-card {
		width: 100%;
	}
	.contact-wrapper div {
		width: 100%;
	}
	.contact-form form .inlined-input input {
		width: 100%;
		margin: 0;
	}
	.submit-btn {
		width: 100%;
	}
}
@media screen and (max-width: 1014px) {

	.product-wrapper .product {
		width: calc(100% / 2 - 20px);
	}
	.product-wrapper .product .product-body a {
		font-size: 15px;
	}
	footer {
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 70px;
	}
	footer .footer-content {
		width: 100%;
		margin: 10px 0;
	}
}
@media screen and (max-width: 440px) {
	.product-wrapper .product {
		width: 100%;
	}
	.product-wrapper .product .product-body a {
		font-size: 20px;
	}
}

@media screen and (max-width: 1400px) {
	header .header-content .swiper .swiper-wrapper .swiper-slide .col-first h1 {
		font-size: 40px;
	}
	button {
		font-size: 16px;
		padding: 10px 60px;
	}
}

@media screen and (max-width: 1000px) {
	header .header-content .swiper .swiper-wrapper .swiper-slide .col-first h1 {
		font-size: 30px;
	}
	button {
		font-size: 16px;
		padding: 10px 60px;
	}
}





/* container */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}